# Configuration that should be present only on this machine. This is built from
# a template.

[user]
    email = AUTHOREMAIL

[credential]
    # 'osxkeychain' on Mac or 'cache' on linux
    helper = GIT_CREDENTIAL_HELPER

# vim: ft=gitconfig
