[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm
	branch = master
[submodule "neovim/nvim/pack/packer.nvim/opt/packer.nvim"]
	path = neovim/nvim/pack/packer.nvim/opt/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
	branch = master
