[submodule "golang/goenv"]
	path = golang/goenv
	url = https://github.com/syndbg/goenv.git
[submodule "neovim/nvim.xdg/pack/minpac/opt/minpac"]
	path = neovim/nvim.xdg/pack/minpac/opt/minpac
	url = https://github.com/k-takata/minpac.git
[submodule "zsh/p10k"]
	path = zsh/p10k
	url = https://github.com/romkatv/powerlevel10k.git
