extends python

priority 1

# logging
# glog = get log
snippet glog
import logging
LOG = logging.getLogger(${0:__name__})
endsnippet
snippet le
LOG.error(${0:msg})
endsnippet
# conflict with lambda=ld, therefor we change into Logger.debuG
snippet lg
LOG.debug(${0:msg})
endsnippet
snippet lw
LOG.warning(${0:msg})
endsnippet
snippet lc
LOG.critical(${0:msg})
endsnippet
snippet li
LOG.info(${0:msg})
endsnippet
